.post-container{
    background:#fff;
}
.post-head{
    background:rgb(206, 189, 189);
    padding: 30px 20px;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: justify;
    height:80vh;
    overflow: hidden;
}
input:focus, textarea:focus{
    border:1px solid orange;
    outline:none;
}
h3.post{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    text-transform: capitalize;
}
h3.post, p.paragraph{
    margin:20px auto;
}
p{
    margin-bottom:20px;
}
.bg{
    background: linear-gradient(to top,#F3B997,royalblue);
}
input[type="file"]{
    border:none;
    background:transparent;
    padding:10px 0;
    color:snow;
}

@media only screen and (min-width: 480px) and (max-width:768px) {  
    .post-head{
        height:60vh;
        grid-template-columns: repeat(2, 1fr);
        padding:20px;
    }
    h3.post,p.paragraph{
        margin:20px 30px;
    }
    
}

@media only screen and (min-width: 769px) {
    .post-head{
        height:40vh;
        padding: 30px 60px;
        grid-template-columns: repeat(2, 1fr)
    }
   h3.post{
      margin:0;
      font-size: 50px; 
   }
    
   p.paragraph{
        margin:20px 80px;
        line-height:26px;
        font-size:18px;
    }
    
}