*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App{
  text-align: center;
}

.navbar{
  background-color:#e8e2e2;
}
.sign-in{
  margin: 0 auto;
}
.cover {
  background-size: cover;
  background: url('./assets/colabo.png') no-repeat;
}

